* {
  margin: 0;
}

body {
  background-color: #f5f6fa;
}

.app__dropdown {
   background-color: white;
}
.app__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.app__header > h1 {
  color: red;
  font-size: 2rem;
}
.app__stats {
  display: flex;
  justify-content: space-between;
}
.app {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.app__left {
    flex: 0.9;
}
.app__graph {
  flex-grow: 1;
}
.app__right {
  display: flex;
  flex-direction: row;
}
@media (max-width: 990px) {
  .app {
    flex-direction: column;
  }
}
